<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Abraca-Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Welcome to Abraca-Data!</h1>
    <h2>Articles</h2>
    <form>
      <fieldset>
        <legend><b>Insert New Article</b></legend>
        <p>
          <label>Author Name</label>
          <input type = "text"
                 id = "insert_name"
                 value = "text here" />
        </p>
        <p>
          <label>Affiliation</label>
          <input type = "text"
                 id = "insert_affiliation"
                 value = "text here" />
        </p>
        <p>
          <label>Citation Count</label>
          <input type = "text"
                 id = "insert_citedby"
                 value = "text here" />
        </p>
        <p>
          <label>Article Publish Title</label>
          <input type = "text"
                 id = "insert_pub_title"
                 value = "text here" />
        </p>
        <p>
          <label>Article Publish Year</label>
          <input type = "text"
                 id = "insert_pub_year"
                 value = "text here" />
        </p>
        <p>
          <label>Article Publish URL</label>
          <input type = "text"
                 id = "insert_pub_url"
                 value = "text here" />
        </p>
        <p>
          <label>Journal Name</label>
          <input type = "text"
                 id = "insert_journal"
                 value = "text here" />
        </p>
        <button id="insert_button" type="button" onclick="insertFunction()">Insert</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Search For Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText4"
                 value = "text here" />
        </p>
        <button id="query_button" type="button" onclick="queryFunction()">Search</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Update Article</b></legend>
        <p>
          <label>What is the <b>Article ID</b>?</label>
          <input type = "text"
                 id = "myText5"
                 value = "text here" />
        </p>
        <p>
          <label>What is the <b>field</b> you'd like to update?</label>
          <input type = "text"
                 id = "myText6"
                 value = "text here" />
        </p>
        <p>
          <label>What is the <b>new value</b>?</label>
          <input type = "text"
                 id = "myText7"
                 value = "text here" />
        </p>
        <button id="update_button" type="button" onclick="updateFunction()">Update</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend><b>Delete Article</b></legend>
        <p>
          <label>Article ID</label>
          <input type = "text"
                 id = "delete_id"
                 value = "text here" />
        </p>
        <button id="delete_button" type="button" onclick="deleteFunction()">Delete</button>
      </fieldset>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      function getData(elementId) {
          var data = document.getElementById(elementId).value;
          if (data === "text here") {
              data = null;
          }
          return data;
      }

      function insertFunction() {
          var data = {};
          data["name"] = getData("insert_name");
          data["affiliation"] = getData("insert_affiliation");
          data["citedby"] = getData("insert_citedby");
          data["pub_title"] = getData("insert_pub_title");
          data["pub_year"] = getData("insert_pub_year");
          data["pub_url"] = getData("insert_pub_url");
          data["journal"] = getData("insert_journal");
          $.post( "/insert", { "data" : data }).done(function(status) {
              var code = status["code"];
              if(code === 0) {
                  alert("Article successfully inserted");
              } else {
                alert("Error code: " + stat);
              }
          });
      }

      function deleteFunction() {
          var data = {};
          data["id"] = getData("delete_id");
          $.post( "/delete", { "data" : data }).done(function(status) {
              var code = status["code"];
              if(code === 0) {
                  alert("Article successfully deleted");
              } else {
                  alert("Error code: " + stat);
              }
          });
      }
    </script>

    <p id="demo"></p>
    <form id = "result_table"></form>
  </body>
</html>
